.bg-icon_facebook {
    width: 40px; height: 40px;
    background: url('../img/css_sprites.png') -10px -10px;
}


.bg-icon_instagram {
    width: 40px; height: 40px;
    background: url('../img/css_sprites.png') -70px -10px;
}


.bg-icon_pinterest {
    width: 40px; height: 40px;
    background: url('../img/css_sprites.png') -130px -10px;
}


.bg-icon_twitter {
    width: 40px; height: 40px;
    background: url('../img/css_sprites.png') -190px -10px;
}


.bg-icon_youtube {
    width: 40px; height: 40px;
    background: url('../img/css_sprites.png') -250px -10px;
}

.bg-icon_facebook,
.bg-icon_twitter,
.bg-icon_instagram,
.bg-icon_youtube,
.bg-icon_pinterest {
    display: inline-block;
    margin-left: 8px;
}